@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* src/app/globals.css */

html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Ensures the body and html take the full viewport height */
  width: 100%; /* Ensures the body and html take the full viewport width */
  background-color: hsl(
    0,
    0%,
    100%
  ); /* Fallback in case the background image fails */
  background-image: radial-gradient(
    ellipse at 50% 50%,
    hsl(210, 100%, 97%),
    hsl(0, 0%, 100%)
  );
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the background covers the whole viewport */
}
